header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
}

span {
    font-size: 32px;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    display: inline-block;
    padding: 3px;
}