<div id="big-card">
    <img src="https://t2.tudocdn.net/581852?w=1920" alt="pokemon">
    <div id="informacao">
        <h2>Texto do artigo</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam sint magni dignissimos tenetur sunt. Officia autem distinctio optio reprehenderit? Quidem, placeat aliquid inventore cupiditate vel debitis officia adipisci veritatis aliquam soluta suscipit eos reiciendis doloremque, unde qui nam nesciunt voluptatum quam sint. Dicta quo quisquam commodi beatae quis ex similique?</p>
        <button>Continuar lendo</button>
    </div>
</div>